
@{
    ViewBag.Title = "Index";
}

<h2 class="padding">The change was made!</h2>

<div class="row padding">
    <a href='@Url.Action("Index", "Character")' class="btn btn-default btn-sm">Back to Characters</a>
</div>