
@{
    ViewBag.Title = "Index";
}

<h2 class="padding">The change was made!</h2>

<div class="row padding">
    <button class="btn btn-default" onclick="goBack()">Back to Character</button>

    <script>
function goBack() {
  window.history.go(-2);
}
    </script>
</div>