@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6 col-sm-6">
            <h2>Welcome to HomeBrew!</h2>
            <p class="lead">Welcome, please log in to gain access to all the cool character management features for this homebrew RPG system! If you are already logged in feel free to click the link below to start a new character, or click any of the navigation links above.</p>

            <br>
            @if (User.Identity.IsAuthenticated)
            {
                <p><a href="/Character/Index" class="btn btn-primary btn-lg">Your Characters &raquo;</a></p>
                <p><a href="/Character/Create" class="btn btn-primary btn-lg">Create A Character &raquo;</a></p>
            }
        </div>
        <div class="col-md-4 col-sm-5">
            <img src="~/Images/FairyTale/png/001-sword.png" class="img-fluid hidden-xs">
        </div>
    </div>
</div>


<div class="container-fluid padding">
    <div class="col-lg-6">
        <h2>Want to know more?</h2>
        <p>
            Curious about the system or need a refresher on the rules? Here is a link to the most recent system rules pdf!
        </p>
    </div>
        <br />
        <div class="col-lg-6 padding">
            <p><a class="btn btn-default" href="~/Other Resources/System_Rules_V.3.3.pdf">System Rules &raquo;</a></p>
        </div>
</div>