body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    font-family: IM Fell English SC, serif;
    font-weight: 400;
}
.fancy-text {
    font-family: IM Fell English SC, serif;
    font-size: 110%;
}


    .navbar {
    padding: .5em;
    background-color: #393E46;
}

.navbar-default .navbar-brand {
    color: #eeeeee;
}

.navbar-default .navbar-nav li a {
    color: #eeeeee;
}

    .navbar-default .navbar-nav li a:hover {
        color: #53A2BE;
    }
.navbar-default .navbar-brand:hover {
    color: #53A2BE;
}
.navbar-dropdown{
    margin-top: .5em;
}
#navbar-dropdown-link li a{
    color: #393e46;
}
#navbar-dropdown-link li a:hover {
    color: #53a2be;
}

.btn-primary {
    background-color: #53A2BE;
    color: #eeeeee;
    border-color: #53a2be;
}
.btn-primary a{
    background-color: #53A2BE;
    color: #eeeeee;
    border-color: #53a2be;
}
    .btn-primary:hover {
        background-color: #393e46;
    }
    .btn-primary a:hover {
        background-color: #393e46;
    }

.padding {
    padding-top: 2rem;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
/*    max-width: 280px;*/
}

footer {
font-size: 70%;
}

/*index page*/
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: .5em;
}
.fa-trash {
    color: #393E46;
    padding-top: 0.8em;
}

    .fa-trash:hover {
        color: #dc3545;
    }
.bg-danger:hover{
    color: white;
    background-color: red;
}

/*create page*/
.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

    .step.active {
        background-color: #04AA6D;
    }

.step-finish {
    background-color: darkslategrey;
}
.form-group {
    padding: .5em;
    margin: 0.2em;
}

/*character sheet*/
.tab-sheet {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}













.character-sheet {
    border: solid;
    border-radius: 5px;
    background-color: floralwhite;
    width: 70em;
    position: absolute;
    padding: 1em;
}

.character-info {
    display: flex;
    margin: 0.5em;
    padding: 0.5em;
}

.character-name {
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    height: 10%;
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    background-color: antiquewhite;
}

.character-info-list {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    background-color: antiquewhite;
}

.character-heroics {
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    height: 10%;
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
    background-color: antiquewhite;
}

.character-info-list-items {
    overflow: hidden;
}

    .character-info-list-items dd {
        width: 10%;
        padding: 0.5em;
    }

    .character-info-list-items dt {
        text-align: center;
        width: 10%;
        padding: 0.5em;
    }

.stats-section {
    border-radius: 10px;
    background-color: #bbb;
    display: flex;
    width: 12%;
    padding: 0.5em;
    margin: 1em;
    height: 380px;
}

.stats-core {
    width: 100%;
}

.stat {
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.25em;
    background-color: antiquewhite;
}

.stats-essential {
    border-radius: 10px;
    background-color: floralwhite;
    display: flex;
    width: 25%;
    padding: 0.5em;
    margin: 1em;
}

.essential-stat {
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.25em;
    background-color: antiquewhite;
    width: 100px;
    height: 67px;
}



.stats-div {
    display: flex;
    margin: 0.5em;
    padding: 0.5em;
}

.skills-div {
    display: flex;
    width: 50%;
    padding: 0.5em;
    margin: 1em;
}

.skills-row {
    padding: 1em;
    margin: 1em;
}

.bottom-row {
    display: flex;
    width: 50%;
    padding: 0.5em;
    margin: 1em;
}

.link-divs {
    margin: 1em;
}