body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: antiquewhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step-active {
    opacity: 1;
}

.step-finish {
    background-color: darkslategrey;
}

.button-color {
    color: whitesmoke;
    background-color: dimgray;
    border-color: darkslategrey;
}

    .button-color:hover,
    .button-color:focus {
        background-color: gray;
        background-position: 0 -15px;
    }
    .div-color{
        background-color:antiquewhite;
    }
