body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: antiquewhite;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step-active {
    opacity: 1;
}

.step-finish {
    background-color: darkslategrey;
}

.button-color {
    color: whitesmoke;
    background-color: dimgray;
    border-color: darkslategrey;
}

    .button-color:hover,
    .button-color:focus {
        background-color: gray;
        background-position: 0 -15px;
    }
    .div-color{
        background-color:antiquewhite;
    }
.character-sheet {
    border: solid;
    border-radius: 5px;
    background-color: floralwhite;
    width: 70em;
    position: absolute;
}
.character-info {
    display: flex;
    margin: 5px;
    padding: 5px;
    background-repeat: no-repeat;
}
.character-name {
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    height: 10%;
    width: 20%;
    display: flex;
    flex-direction: column-reverse;
    background-color: antiquewhite;
}
.character-info-list {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    background-color: antiquewhite;
}
    .character-info-list-items {

        overflow: hidden;
    }
    .character-info-list-items dd{

        width: 10%;
        padding: 1em;
    }
        .character-info-list-items dt {
            text-align: center;
            width: 10%;
            padding: 1em;
        }
